@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Orbitron:wght@400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  .active {
    color: #fff;
    padding: 1rem;
    border-radius: 100%;
    background: #05c57f;
  }
  .btn {
  border: 1px solid #05c57f;
  }
  .canvas-loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
 
  .social {
    background: rgba(43, 36, 119, 0.3);
    
  }


@layer base {
    body {
        @apply font-secondary text-lg leading-8 text-white bg-[#0a192f] ;
    }
    .h2 {
        @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    }
    .h3 {
        @apply font-primary text-[26px] mb-6 leading-[46px];
    }
    .btn {
        @apply rounded-sm  text-white font-medium
    }
    .btn-sm {
        @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }
    .btn-link {
        @apply text-base;
    }
    .section {
        @apply py-8 lg:h-auto flex items-center;
    }
    .code {
        @apply font-tertiary
    }
}